# Ignore environment variable files
.env*

# BUT allow .env.example
!.env.example

# Ignore Docker Compose files
docker-compose.yml

#Ignore Frontend Package Lock files
package-lock.json
node_modules/
